<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SIniciarSesion</servlet-name>
        <servlet-class>Controlador.SIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIniciarSesionVoluntario</servlet-name>
        <servlet-class>Controlador.SIniciarSesionVoluntario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistroPersna</servlet-name>
        <servlet-class>Controlador.SRegistroPersna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistroVoluntario</servlet-name>
        <servlet-class>Controlador.SRegistroVoluntario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarSesion</servlet-name>
        <servlet-class>Controlador.SCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPedirAyuda</servlet-name>
        <servlet-class>Controlador.SPedirAyuda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAsignarUsuario</servlet-name>
        <servlet-class>Controlador.SAsignarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SIniciarSesion</servlet-name>
        <url-pattern>/SIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIniciarSesionVoluntario</servlet-name>
        <url-pattern>/SIniciarSesionVoluntario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistroPersna</servlet-name>
        <url-pattern>/SRegistroPersna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistroVoluntario</servlet-name>
        <url-pattern>/SRegistroVoluntario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarSesion</servlet-name>
        <url-pattern>/SCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPedirAyuda</servlet-name>
        <url-pattern>/SPedirAyuda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAsignarUsuario</servlet-name>
        <url-pattern>/SAsignarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
